##############################################################
## JOB DESCRIPTION                                         ##
#############################################################

# equilibrating 1QJA


#############################################################
## ADJUSTABLE PARAMETERS                                   ##
#############################################################

structure          ./poly-ala_WB_ionized_0.15molperL.psf
coordinates        ./poly-ala_WB_ionized_0.15molperL.pdb

set temperature    298
set outputname     POLY-ALA-12_SALT0.15molperL_298K

# Continuing a job from the restart files
if {0} {
set inputname      BLAH_PREV_OUT
binCoordinates     $inputname.restart.coor
binVelocities      $inputname.restart.vel
extendedSystem     $inputname.restart.xsc
}

firsttimestep       0


#############################################################
## SIMULATION PARAMETERS                                   ##
#############################################################

# Input
paraTypeCharmm      on
parameters          ./par_all36_prot.prm
parameters          ./par_water_ions.prm

temperature         $temperature

# Force-Field Parameters
exclude             scaled1-4
1-4scaling          1.0
cutoff              12.
switching           on
switchdist          10.
pairlistdist        15.0
margin               8.0


# Integrator Parameters
# fullElectFrequency*timestep <=4.0
# stable time steps:
#       with rigidBonds=all: electro:6fs;short-rangeNB:2fs;bonded:2fs
#       otherwise          :         2fs               2fs        1fs
timestep            2.0  ;# 2fs/step
rigidBonds         all  ;# Needed for 2fs steps
useSettle           on
nonbondedFreq       1
fullElectFrequency  2
stepspercycle       10
zeroMomentum        yes


# Constant Temperature Control
langevin            off    ;# do langevin dynamics
langevinDamping     5     ;# damping coefficient (gamma) of 5/ps
langevinTemp        $temperature
langevinHydrogen    off    ;# don't couple langevin bath to hydrogens

#temperature coupling for temperature coupling
tCouple             on
tCoupleTemp         $temperature


# Periodic Boundary Conditions
# center of the periodic box; NOT ORIGIN!!!b get_cell.tcl
cellBasisVector1 81.30899810791016 0 0
cellBasisVector2 0 46.54300117492676 0
cellBasisVector3 0 0 46.69899940490723
cellOrigin -0.2306836098432541 0.05435899645090103 0.07580415904521942

wrapAll             on


# PME (for full-system periodic electrostatics)
# multiples of 2,3,5 & >=dimensions above
PME                 yes
PMEGridSizeX        120
PMEGridSizeY        120
PMEGridSizeZ        120


# Constant Pressure Control (variable volume)
useGroupPressure      yes ;# needed for rigidBonds
useFlexibleCell       no
useConstantArea       no

langevinPiston       on
langevinPistonTarget  1.01325 ;#  in bar -> 1 atm
langevinPistonPeriod  100.
langevinPistonDecay   50.
langevinPistonTemp    $temperature


# Output
outputName          $outputname

restartfreq         5000000             ;# every 
dcdfreq             10000                ;# 5000steps = every 10ps
xstFreq             10000
outputEnergies      10000
outputPressure      10000


#############################################################
## EXECUTION SCRIPT                                        ##
#############################################################

# Minimization
minimize            2000
reinitvels          $temperature

run 100000000  ;# 200 ns
